manage-authentification-page {
    .btn {
        margin: 0px;
    }
    .list-header {
        color: map-get($colors, whitecolor);
        font-size: 1.2em;
        margin: 0%;
    }
    .logo {
        height: 7em;
    }
    .control {
        margin: 1em;
    }
}